body {
    background-color: #deedd1;
}

.header
{
    text-align: center;
    border:dashed;
    margin: 1rem;
}

.introduction{
    text-align:center;
}

nav ul li{
    display: inline;
}

#navContainer
{
    display: flex;
    justify-content: center;
}

#pageContainer/*this has to be flex because if parent is not flex, child cannot be flex*/
{
    display: flex;
    justify-content: center;
}

h2
{
    text-align: center;
}

.subcontent
{
    padding: 0 5vw;
    text-align: center;
}

.collapsible-header-button
{
    display: inherit; /*under subsubcontent class
    dont know how to explain, head empty but big brain at the same time*/
    flex-basis: 100%;
    padding: 0 15vw;
    justify-content: center;
}

.subsubcontent
{
    display: flex;
    flex-wrap: wrap;
}